<%= erb :navbar %>

<div class="container">
  <h1 class="center-text"><%= I18n.t :copyright %></h1>
  <% if I18n.locale == :eo %>
    <!-- Esperanto -->
    <p>Filmaro prenas datumojn el la datumbazo <a href="https://www.wikidata.org/">Vikidatumoj</a>. Ĉiuj tekstaj datumoj konservitaj tie estas publigitaj sub permesilo <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.eo">CC0 1.0 Universala</a>. Plurmediaĵoj venas el <a href="https://commons.wikimedia.org/">Vikimedia Komunejo</a>, kie vi povas ricevi informojn pri permesilo de koncernaj dosieroj. Tamen ĉiuj el ili estas sub ia <a href="https://freedomdefined.org/Definition/Eo">libera permesilo</a>.</p>

    <p>Por plej multo da kazoj tio signifas, ke vi rajtas la datumojn, bildojn kaj videaĵojn:
      <ul>
        <li>uzi por ajna celo (rigardi, ripozi, eduki),</li>
        <li>studi kaj uzi tiel akiritajn konojn,</li>
        <li>kopii kaj distribui,</li>
        <li>ŝanĝi kaj distribui tiel ŝanĝitajn versiojn.</li>
      </ul>
      Konkreta permesilo de konkreta verko povas aldoni kelkajn devojn por tia uzo (ekz. mencii aŭtoro(j)n aŭ uzi la saman permesilon por ŝanĝitaj verkoj).
    </p>

    <p>Filmaro mem estas reta aplikaĵo, kiu montras la datumojn kune en home legebla formo. Ĝi estas <a href="https://eo.wikipedia.org/wiki/Libera_programaro">libera programo</a> eldonita sub la permesilo <a href="/license">GNU Affero General Public License</a>. Vi povas trovi ĝian fontokodon <a href="<%= FILMARO[:source_url] %>">ĉi tie</a>.</p>

    <p>La emblemo de Filmaro estis kreita de Edoardo NANNOTTI. Ĝi estas disponebla laŭ la samaj kondiĉoj kiel Filmaro mem.</p>
  
  <% else %>
    <!-- English and other -->
    <p>Filmaro gets it's data from the database <a href="https://www.wikidata.org/">Wikidata</a>. All the textual data stored there are published under the license <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.en">CC0 1.0 Universal</a>. The multimedia comes from <a href="https://commons.wikimedia.org/">Wikimedia Commons</a> where you can get information about license of the particular file. However all of them are under some <a href="https://en.wikipedia.org/wiki/Free_license">free license</a>.</p>

    <p>For most cases this means, that you can the data, pictures and videos:
      <ul>
        <li>use for any purpouse (to watch, to rest, to educate),</li>
        <li>study and use the knowledge acquired that way,</li>
        <li>copy and distribute,</li>
        <li>change and distribute changed versions.</li>
      </ul>
      Particular license of particular work can add some more duties for its use (e.g. attribute the author(s) or use the same license for changed works).
    </p>

    <p>Filmaro itself is web application which presents those data together in human-readable form. It is <a href="https://en.wikipedia.org/wiki/Free_software">free software</a> released under the license <a href="/license">GNU Affero General Public License</a>. You can find its source code <a href="<%= FILMARO[:source_url] %>">here</a>.</p>

    <p>The logo of Filmaro was made by Edoardo Nannotti. It is available under the same conditions as Filmaro itself.</p>
  <% end %>

  <%= erb :_footer %>
</div>
